
// Colors
$ebony: #0E1227;
$mirage: #1E253F;
$big-sone: #121831;
$pomegranate: #121831;
$silver: #cccccc;
$alto: #dddddd;
$red: #FF0000;
$pomegranate: #f44a0c;
$harlequin: #4EFF00;
$white: #FFFFFF;
$black: #000000;
$blue-bayoux: #525f7f;
$balihai: #8898AA;
$transparent: transparent;
$pearl-lusta: #fcf8e3;


// Colors rgba
$black-rgba: rgba(0, 0, 0, 0);
$black-rgba-1: rgba(0, 0, 0, 0.1);

// Background
$body-bg: $ebony;
$transparent-bg: $transparent;
$mark-bg: $pearl-lusta;

// Buttons
$link-color: $pomegranate;
$link-color-hover: $blue-bayoux;


// Text Colors
$text-body: $blue-bayoux;
$headers-hx: $big-sone;