<body class="login-page">

<%= render 'sidebar' %>

<div class="wrapper wrapper-full-page ">
  <div class="full-page section-image" filter-color="black" data-image="">
    <div class="content">
      <div class="container">
      </div>
    </div>

    <%= render 'footer' %>

  </div>
</div>
</body>