<body class="login-page">

  <%= render 'sidebar' %>

  <div class="wrapper wrapper-full-page ">
    <div class="full-page section-image" filter-color="black" data-image="">
      <div class="content">
        <div class="container">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <form class="form" method="" action="https://demos.creative-tim.com/paper-dashboard-2-pro/examples/pages/login.html">
              <div class="card card-login">
                <div class="card-header ">
                  <div class="card-header ">
                    <h3 class="header text-center"><%= I18n.t('authentication.labels.fields.login') %></h3>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-sign-in-alt"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="E-mail">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="nc-icon nc-key-25"></i>
                        </span>
                    </div>
                    <input type="password" placeholder="Senha" class="form-control">
                  </div>
                </div>
                <div class="card-footer ">
                  <button type="submit" href="#" class="btn btn-warning btn-round btn-block mb-3">Get Started</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%= render 'footer' %>

    </div>
  </div>
</body>