<%= render 'guests/navbar' %>

<div class="header py-7 py-lg-8" style="min-height: 50vh; background-image: url('<%= asset_path select_background_header %>'); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <div class="container">
    <div class="header-body text-center mt-7 mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8">
          <h1 class="text-white">
            Streaming e Patrocinio coletivo online
          </h1>
          <span class="text-white">
              Crie um relacionamento direto com seus fãs mais devotos e ainda forneça streaming de
              suas músicas em uma plataforma totalmente gratuíta
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<div class="container mt--10 pb-5"></div>

<%= render 'guests/footer' %>
