// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-overflow {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;
}