.bg-mask-loader {
  display: block;
  position: fixed;
  background: linear-gradient(87deg, #0C1022 0, #1a174d 1%) !important;
  opacity: 0.90;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  top: 0;
  left: 0;
}