<%= render 'dashboard/partials_shared/sidebar' %>

<div class="main-content">

  <%= render 'dashboard/partials_shared/navbar' %>

  <%= render 'dashboard/partials_shared/header', locals: {description: 'Crie os planos e informe o que você vai oferecer aos seus Voycers.',
                                                          title: 'Criação de Plano'} %>

  <div class="container-fluid mt--8">
    <div class="row">
      <div class="col-xl-8 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Planos de Patrocínio</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#" class="btn btn-link text-warning text-right">Voltar</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form method="post" action="" autocomplete="off" enctype="multipart/form-data">
              <h6 class="heading-small text-muted mb-4">Informações sobre o plano</h6>
              <div class="row pl-lg-2 pr-lg-2">
                <div class="col-12">
                  <div class="form-group d-flex flex-row mb-2">
                    <label class="w-25 mr-3">
                      <div class="h4 font-weight-600 mb-1">Nome do Plano</div>
                      <div class="h6 font-weight-300">Obrigatório</div>
                    </label>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-file-alt"></i>
                                                </span>
                      </div>
                      <input class="form-control" placeholder="(Ex.: Plano Silver)" type="text" required>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group d-flex flex-row mb-2">
                    <label class="w-25 mr-3">
                      <div class="h4 font-weight-600 mb-1">Preço</div>
                      <div class="h6 font-weight-300">Obrigatório</div>
                    </label>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-money-bill-wave"></i>
                        </span>
                      </div>
                      <input class="form-control" placeholder="5,00" type="number" min="1" required>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group d-flex flex-row mb-2">
                    <label class="w-25 mr-3">
                      <div class="h4 font-weight-600 mb-1">Descrição</div>
                      <div class="h6 font-weight-300">Obrigatório</div>
                    </label>
                    <div class="input-group mb-4">
                      <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Escreva aqui a descrição do seu plano..."></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-12 text-right">
                  <button type="submit" class="btn btn-success w-25">Criar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-4 order-xl-1">
        <div class="card shadow shadow-lg--hover mt-6">
          <div class="card-body">
            <div class="d-flex">
              <div class="pl-2">
                <h2 class="title text-success">
                  Dica&nbsp;<i class="fas fa-check"></i>
                </h2>
                <p>
                  The Arctic Ocean freezes every winter and much of
                  the sea-ice then thaws every summer, and that
                  process will continue whatever.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'dashboard/partials_shared/footer' %>

  </div>

</div>