<div class="container-fluid footer navbar-fixed-bottom">
  <footer class="pt-5">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-12 col-12">
        <div class="copyright text-center text-xl-right text-muted">
          &copy; <%= Time.now.year %> <span class="font-weight-bold ml-1">&nbsp;<%= I18n.t('application.labels.app_name') %></span>
        </div>
      </div>
    </div>
  </footer>
</div>