<div class="container-fluid footer navbar-fixed-bottom">
  <footer class="pt-5">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; <%= Time.now.year %> <span class="font-weight-bold ml-1">&nbsp;<%= I18n.t('application.labels.app_name') %></span>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a href="#" class="nav-link" target="_blank"><%= I18n.t('application.labels.about_us') %></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" target="_blank"><%= I18n.t('application.labels.privacy_policy') %></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>